$text-color-logo: #000000;
$text-color-primary: #212121;
$text-color-secondary: #757575;
$text-color-accent: #2196f3;
$text-color-head-footer: #ffffff;
$text-color-link: #afb1b8;
$bg-color-primary: #ffffff; 
$bg-color-secondary: #f5f4fa;
$bg-color-head-footer: #2f303a;






// @media screen and (max-width: 767px) {
// }

// @media screen and (min-width: 768px) {
// }

// @media screen and (min-width: 1200px) {
// }